[submodule "keyjack"]
	path = keyjack
	url = https://github.com/BastilleResearch/keyjack
[submodule "jackit"]
	path = jackit
	url = https://github.com/insecurityofthings/jackit
[submodule "droneGestures"]
	path = droneGestures
	url = https://github.com/MrJack91/droneGestures
[submodule "mousejack"]
	path = mousejack
	url = https://github.com/BastilleResearch/mousejack
[submodule "gr-nordic"]
	path = gr-nordic
	url = https://github.com/BastilleResearch/gr-nordic
[submodule "keysniffer"]
	path = keysniffer
	url = https://github.com/BastilleResearch/keysniffer
[submodule "nrf-research-firmware"]
	path = nrf-research-firmware
	url = https://github.com/BastilleResearch/nrf-research-firmware
[submodule "nrf24_multipro"]
	path = nrf24_multipro
	url = https://github.com/goebish/nrf24_multipro
[submodule "raspjack"]
	path = raspjack
	url = https://github.com/DigitalSecurity/raspjack
[submodule "NRF24_Sniffer"]
	path = NRF24_Sniffer
	url = https://github.com/Yveaux/NRF24_Sniffer
[submodule "keysweeper"]
	path = keysweeper
	url = https://github.com/samyk/keysweeper
[submodule "microsoft_keyboard_decoder"]
	path = microsoft_keyboard_decoder
	url = https://github.com/chopengauer/microsoft_keyboard_decoder
[submodule "lib_nrf24"]
	path = lib_nrf24
	url = https://github.com/BLavery/lib_nrf24
[submodule "RF24toTUN"]
	path = RF24toTUN
	url = https://github.com/reixd/RF24toTUN
[submodule "pynrf24"]
	path = pynrf24
	url = https://github.com/jpbarraca/pynrf24
[submodule "nRF24L01-buspirate"]
	path = nRF24L01-buspirate
	url = https://github.com/kevinmehall/nRF24L01-buspirate
[submodule "NRF24L01"]
	path = NRF24L01
	url = https://github.com/leonahi/NRF24L01
[submodule "nRF24L01p"]
	path = nRF24L01p
	url = https://github.com/doihaveto/nRF24L01p
[submodule "crazyradio-firmware"]
	path = crazyradio-firmware
	url = https://github.com/bitcraze/crazyradio-firmware
[submodule "crazyflie-lib-python"]
	path = crazyflie-lib-python
	url = https://github.com/bitcraze/crazyflie-lib-python
[submodule "libcrazyradio"]
	path = libcrazyradio
	url = https://github.com/rpedde/libcrazyradio
[submodule "pyRadioHeadNRF24"]
	path = pyRadioHeadNRF24
	url = https://github.com/exmorse/pyRadioHeadNRF24
[submodule "UHF-digital-wireless-microphone"]
	path = UHF-digital-wireless-microphone
	url = https://github.com/benbiles/UHF-digital-wireless-microphone
[submodule "Si4463"]
	path = Si4463
	url = https://github.com/dasm78/Si4463
[submodule "TagNet"]
	path = TagNet
	url = https://github.com/danome/TagNet
[submodule "remote-srv"]
	path = remote-srv
	url = https://github.com/ekundo/remote-srv
[submodule "gamecube-rf24-remote"]
	path = gamecube-rf24-remote
	url = https://github.com/brNX/gamecube-rf24-remote
[submodule "nrf24l01-rc"]
	path = nrf24l01-rc
	url = https://github.com/laneboysrc/nrf24l01-rc
[submodule "RF24Audio"]
	path = RF24Audio
	url = https://github.com/TMRh20/RF24Audio
[submodule "RF24Network"]
	path = RF24Network
	url = https://github.com/maniacbug/RF24Network
[submodule "pynrf24-last"]
	path = pynrf24-last
	url = https://github.com/jpbarraca/pynrf24
[submodule "NRF24L01P_rc_car"]
	path = NRF24L01P_rc_car
	url = https://github.com/armsp/NRF24L01P_rc_car
[submodule "nrf2rfm69"]
	path = nrf2rfm69
	url = https://github.com/tbowmo/nrf2rfm69
[submodule "RF_light_remote"]
	path = RF_light_remote
	url = https://github.com/xusik/RF_light_remote
[submodule "nRF24_BLE"]
	path = nRF24_BLE
	url = https://github.com/lijunhw/nRF24_BLE
[submodule "NRF24-BTLE-Decoder"]
	path = NRF24-BTLE-Decoder
	url = https://github.com/omriiluz/NRF24-BTLE-Decoder
[submodule "nrf24l01_fpga"]
	path = nrf24l01_fpga
	url = https://github.com/jakubcabal/nrf24l01_fpga
[submodule "nrf24le1-libbcm2835"]
	path = nrf24le1-libbcm2835
	url = https://github.com/derekstavis/nrf24le1-libbcm2835
[submodule "buspirate_nrf24lu1p"]
	path = buspirate_nrf24lu1p
	url = https://github.com/koolatron/buspirate_nrf24lu1p
[submodule "usbCrazyRadio"]
	path = usbCrazyRadio
	url = https://github.com/erwincoumans/usbCrazyRadio
[submodule "nrfburn"]
	path = nrfburn
	url = https://github.com/nodep/nrfburn
[submodule "nRF24LU1P_SPI_Flashing"]
	path = nRF24LU1P_SPI_Flashing
	url = https://github.com/RGassmann/nRF24LU1P_SPI_Flashing
[submodule "nrf24lu1p-uHID-bootloader"]
	path = nrf24lu1p-uHID-bootloader
	url = https://github.com/nekromant/nrf24lu1p-uHID-bootloader
[submodule "nrf24lu1p-512-bootloader"]
	path = nrf24lu1p-512-bootloader
	url = https://github.com/ahtn/nrf24lu1p-512-bootloader
[submodule "nrf24lu1p-snifferdemo"]
	path = nrf24lu1p-snifferdemo
	url = https://github.com/NordicSemiconductor/nrf24lu1p-snifferdemo
[submodule "mousejack_transmit"]
	path = mousejack_transmit
	url = https://github.com/iamckn/mousejack_transmit
[submodule "mith-ren"]
	path = mith-ren
	url = https://github.com/wolfmd/mith-ren
[submodule "Eco_AccBabyMonitor"]
	path = Eco_AccBabyMonitor
	url = https://github.com/EPLab/Eco_AccBabyMonitor
[submodule "Programmer_nRF24LXX"]
	path = Programmer_nRF24LXX
	url = https://github.com/elechouse/Programmer_nRF24LXX
[submodule "clicker"]
	path = clicker
	url = https://github.com/jabelch/clicker
[submodule "Windows.Devices.Radios.nRF24L01P"]
	path = Windows.Devices.Radios.nRF24L01P
	url = https://github.com/RodneyWimberly/Windows.Devices.Radios.nRF24L01P
[submodule "NRF24L01-PA-LNA-Testing-Scripts"]
	path = NRF24L01-PA-LNA-Testing-Scripts
	url = https://github.com/moggiex/NRF24L01-PA-LNA-Testing-Scripts
[submodule "rf24boot"]
	path = rf24boot
	url = https://github.com/nekromant/rf24boot
[submodule "nrfprog"]
	path = nrfprog
	url = https://github.com/nekromant/nrfprog
[submodule "RF24"]
	path = RF24
	url = https://github.com/tmrh20/RF24
[submodule "RF24Mesh"]
	path = RF24Mesh
	url = https://github.com/TMRh20/RF24Mesh
[submodule "RF24Gateway"]
	path = RF24Gateway
	url = https://github.com/TMRh20/RF24Gateway
[submodule "RF24EthernetLite"]
	path = RF24EthernetLite
	url = https://github.com/TMRh20/RF24EthernetLite
[submodule "drone-duel"]
	path = drone-duel
	url = https://github.com/marcnewlin/drone-duel
[submodule "knot-hal-source"]
	path = knot-hal-source
	url = https://github.com/CESARBR/knot-hal-source
[submodule "nrfdude"]
	path = nrfdude
	url = https://github.com/twilly/nrfdude
[submodule "Transceiver_Breakout-nRF24LU1_RP-SMA"]
	path = Transceiver_Breakout-nRF24LU1_RP-SMA
	url = https://github.com/sparkfun/Transceiver_Breakout-nRF24LU1_RP-SMA
[submodule "NRF24L01-Linux-device-driver"]
	path = NRF24L01-Linux-device-driver
	url = https://github.com/npatel33/NRF24L01-Linux-device-driver
[submodule "NRF24L01-I2C-Interface"]
	path = NRF24L01-I2C-Interface
	url = https://github.com/5shekel/NRF24L01-I2C-Interface
[submodule "nrf24hid"]
	path = nrf24hid
	url = https://github.com/martin2250/nrf24hid
[submodule "wht"]
	path = wht
	url = https://github.com/nodep/wht
[submodule "NRF24LU1prog"]
	path = NRF24LU1prog
	url = https://github.com/FMMT666/NRF24LU1prog
[submodule "nrf24l01-"]
	path = nrf24l01-
	url = https://github.com/VikramPinto/nrf24l01-
[submodule "nrf24l01"]
	path = nrf24l01
	url = https://github.com/melomaa/nrf24l01
[submodule "nrf24-arduino"]
	path = nrf24-arduino
	url = https://github.com/cogiceo/nrf24-arduino
